h1{
    margin: 0;
    padding: 0;
}
.intro{
    font-family: "Poppins Medium";
    background-color: #FBEBB5;
    padding-bottom: 75px;
    &_wrapper{
        justify-content: space-between;
        margin: 0 auto;
        width: 1440px;
        display: flex;
    }
    &_text{
        margin-top: 9%;
        &_main{
            width: 78%;
            font-size: 64px;
        }
        &_but{
            width: 13%;
            &:hover{
                transition: 0.1s;
                border-bottom: 3px solid black;
            }
        }
    }
    &_image{
        display: flex;
        justify-content: end;
        margin-right: 21%;
    }
}

